.flex-container {

}

.flex-container div {
    background:peachpuff;
    border:4px solid brown;
    height: 100px;
    display: flex;
    padding: 16;
}

.container {
    background:white;
    border:0px solid black;
    height:300px;
    display: flex;
    padding: 16;
    align-items: center;
    justify-content: center;
}
.item {
    width:500px;
    height:250px;
    border:4px solid darkslateblue;
    background: skyblue
}

html {
    background-color:rgb(1, 1, 54)
}
